<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
</head>

<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.password %></td>
                <td>
                    <form action="/deleteUser" method="POST">
                        <input type="hidden" name="userId" value="<%= user._id%>">
                        <button type="submit" id="delete-btn">Delete</button>
                    </form>


                </td>



            </tr>

            <% }); %>

        </tbody>
    </table>
</body>

</html>